/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
  }
  
  ::-moz-selection {
    background:  #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background:  #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
   /* General Styles */

   html {
    font-size: 16px;
  }
   
  body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #342f3b;
    background-color: white;
    text-align: left;
  }
   
  ul, 
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  a {
    color:#342f3b;
    text-decoration: none;
  }

  h1 {
    color:#342f3b;
    font-family: 'Poppins', serif;
    font-size: 1.75rem;
    line-height: 1.5;
    width: 100%
    
  }

  h2 {
  color: #342f3b;
  font-family: 'Poppins', serif;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 400;
}

h3 {
  font-size: 1.65rem;
}

h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.5rem;
}

.project-link {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #342f3b;
}

.about-info h3,
.contact-title {
  font-weight: 400;
}

h3,
h4,
h5 {
  font-family: 'Poppins', serif;
  line-height: 1.5;
  width: 100%
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

/* Structural Styles */
header,
#about,
#skills,
#projects,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 85%;
}

#projects p,
#about p
{
  width: 100%;
  text-align: left;
}
.about-text { 
  width: 100%;
  text-align: left;
}
/* setting all margins to zero removes all browser added default margins */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}


header {
  padding-top: 30px;
  padding-bottom: 60px;
}

nav {
  margin-bottom: 60px;
}

#projects {
  padding-top: 60px;
}
 
#skills {
  padding-bottom: 80px;
}

#about {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer {
  padding: 80px 0;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin: 0 0 40px 0;
}

.project-description {
  margin: 0 0 30px 0;
}
.project-link {
  margin: 40px 0 60px 0;
}

#skills {
  padding-top: 80px;
}

figure {
  margin: 20px 0 40px 0;
}
.skills-header {
  margin-bottom: 20px;
}

.about-info h3 {
  margin: 40px 0 40px 0;
}

.about-text {
  margin: 0 0 30px 0;
}

#contact h3 {
  margin-bottom: 60px;
}

.contact-info {
  margin: 0 0 60px 0;
}
.contact-title {
  margin: 0 0 40px 0;
}

/* -------------------- Base Header Styles -------------------- */

header {
  background-color:#F7E8E8;
}

header nav ul li {
  font-size: .75rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

nav #contact-link {
  background-color:#E9B14C;
  padding: 10px 10px;
  border-radius: 30px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header h1 {
  width: 100%;
}

header h2 {
  width: 100%
}



/* -------------------- Mobile Styles - Homepage -------------------- */

/* Portfolio */
#projects,
#skills {
  width: 100%;
}

#projects h3 {
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.home-portfolio-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-portfolio-piece h4 {
  font-weight: bold;
}

.home-portfolio-piece figure {
  width: 100%;
  filter: drop-shadow(1px 2px 6px lightgrey);
}

.flex-fill {
  flex-grow: 1;
}

.project-link {
  background-color: #342f3b;
  padding: .75rem 3.75rem;
  border-radius: 30px;
  color: #FFFFFF;
}

.project-link:hover {
  background-color: #cda41d;
  color: #342f3b;
}

#skills {
  background-color: #F7E8E8;
}

#skills h4 {
  margin: 40px 0 40px 0;
  font-weight: bold;
}

/* About me*/

#about {
  width: 100%;
}
#profile-image {
  width: 100%;
}


#about h3 
#about p {
  color: #342f3b ;
}

/* -------------------- Base Header Styles -------------------- */

/* Contacts section */
.contact {
  margin-top: 2rem;
  background-color: #F7E8E8;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 3rem;
  height: 3rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: white;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
  
   .sr-only.focusable:active,
   .sr-only.focusable:focus {
     clip: auto;
     height: auto;
     margin: 0;
     overflow: visible;
     position: static;
     white-space: inherit;
     width: auto;
   }
*/
  
  .invisible {
    visibility: hidden;
  }

 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }
 
 .clearfix::after {
   clear: both;
 }
 
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
  }
  /*Tablet styles here*/

  /* General styles */
  .content-wrapper {
    max-width: 640px;
  }

  /* font styles */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  header nav ul li {
    font-size: 1rem;
  }

  /* element margins */
  /* the list element have 20px of bottom margin already */
  header {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  nav {
    margin: 0 0 80px 0;
  }
   /*#work */
   #projects {
    padding-top: 80px;
  }

  #skills {
    padding-bottom: 80px;
  }

  footer {
    padding: 130px 0;
  }

  #about {
    padding: 80px 0;
  }

  footer {
    padding-bottom: 80px;
  }

  h2 {
    margin-top: 80px;
  }

  .portfolio-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
  }
   
  .project-link {
    margin: 40px 0 60px 0;
  }

  #skills {
    padding-top: 80px;
  }
  .skills-header {
    margin-bottom: 40px;
  }

  #skills h4 {
    margin: 40px 0 20px 0;
  }

  .about-info h3 {
    margin: 80px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .contact-info {
    margin: 80px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  /* header */
  header .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  header nav {
    /* keep if using hamburger menu */
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
  }

  header nav ul {
    /* keep if using hamburger menu */
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .home-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .home-title h2 {
    max-width: 80%;
  }

  /* portfolio */
  .portfolio-wrapper {
    justify-content: space-around;
  }

  .home-portfolio-piece {
    width: 45%;
    align-items: center;
  }

  .project-description {
    width: 95%;
  }

  .skill,
  .tool {
    /*  width: auto; */
    width: 65%;
  }

  /* about */
  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about figure {
    width: 60%;
  }

  .about-info h4 {
    text-align: left;
  }

  /* Footer */
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  footer .contact-info {
    width: 33%;
  }
  
 footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 5rem;
  }

  footer .copyright {
    width: 100%;
  }

  @media only screen and (min-width: 1024px) {

    /* added for landscape tablets and iPad Pro */
    .content-wrapper {
      max-width: 900px;
    }
  
    .about-info h3 {
      font-size: 2.5rem;
    }
  }
  
  @media only screen and (min-width:1200px) {
  
    /*Desktop styles here*/
    .content-wrapper {
      max-width: 1450px;
    }
  
    /* font styles */
    h1 {
      font-size: 4rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    h3 {
      font-size: 2.5rem;
    }
  
    h4 {
      font-size: 1.25rem;
    }
  
    .about-info h3 {
      font-size: 2.75rem;
      text-align: left;
    }
  
    .about-info h4 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.25rem;
    }
  
    .project-link {
      font-size: 1rem;
    }
  
    /* element margins */
    /* the list element have 20px of bottom margin already */
    header {
      padding-top: 80px;
      padding-bottom: 140px;
    }
  
    nav {
      margin-bottom: 80px;
    }
  
    #projects {
      padding-top: 80px;
    }
  
    #skills {
      padding-bottom: 120px;
    }
  
    #about {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    footer {
      padding: 140px 0 140px 0;
    }
  
    h2 {
      margin: 40px 0 0 0;
    }
  
    .portfolio-header {
      margin: 0 0 60px 0;
    }
  
    .project-description {
      margin: 0 0 30px 0;
    }
    .project-link {
      margin: 40px 0 80px 0;
    }
    #skills {
      padding-top: 120px;
    }
  
    #skills .content-wrapper {
      max-width: 900px;
    }
    .skills-header {
      margin-bottom: 40px;
    }
  
    .about-info h3 {
      margin: 0;
    }
    
  .about-info h4 {
    margin: 40px 0;
  }
    .about-text {
      margin: 0 0 30px 0;
    }
  
    .contact-info {
      margin: 80px 0 80px 0;
    }
    .contact-title {
      margin: 0 0 30px 0;
    }
  
    /* header */
    header .content-wrapper {
      justify-content: flex-end;
    }
  
    header nav {
      justify-content: flex-end;
      width: 45%;
    }
  
    nav ul li a {
      padding: 10px 10px;
    }
  
    nav ul li a:hover,
    nav #contact-link:hover {
      background-color: #F8D697;
      color: #342f3b;
      padding: 10px 10px;
      border-radius: 30px;
    }
  
    .home-title {
      max-width: 95%;
    }
  
    .home-title h2 {
      max-width: 70%;
    }
  
    /* portfolio */
    .home-portfolio-piece {
      width: 30%;
    }
  
    /* skills */
    .skill,
    .tool {
      width: 30%;
    }
  
    /* about */
    .about-content-wrapper {
      display: flex;
      justify-content: space-between;
    }
  
    #about figure {
      width: 35%;
      margin-top: 0;
    }
  
    .about-info {
      width: 58%;
    }
  
    /* contact */
    footer .content-wrapper {
      max-width: 70%;
    }
    footer .social-icons {
      width: 12.5em;
      justify-content: space-between;
    }
  }
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
  
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " ("attr(href) ")";
    }
  
    abbr[title]::after {
      content: " ("attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  


  